

/* ==========================================================================
   Bekor's custom styles
   ========================================================================== */

/* 
***************        Header menu style        *************** 
*/
.headermenu {
    font-family: "Arial", Georgia;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
}

.headermenu li  {
    padding: 10px;
}

.headermenu a {
    text-decoration: none;
    padding: 10px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    color: whitesmoke;
}

nav ul li {
    display:  block;
    float: left;
}

nav ul ul {
    display: none;
}

nav ul ul li {
    display: block;
    float: none;
}

.dropdown-menu{
    position: absolute;
    background-color: #222;
    right: 0px;
    max-width: 100px;
}

.dropdown-menu li a{
    font-family: "Arial", Georgia;
    font-size: 16px;
    align-content: center;
    color: whitesmoke;
}

.languages {
    float: right;
    padding: 50px;
}

/*
***************        Welcome div style        ***************
*/

.welcomed {
    margin-bottom: 0;
    background: #222;
    color: whitesmoke;
    text-align: center;
}

.welcomed p {
    padding-top: 20px;
}

/*
***************        Projects style        ***************
*/

.prjhead{
    padding: 30px 0 30px 0;
    border-style: ridge;
    border-top: thick #ff0000;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.prjfont{
    font-family: "Arial", Georgia;
    font-size: 40px;
}

.pbody {
    color: #31708f;
}

.pbuttons {
    background-color: #262626;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0px
}

.pbuttons:hover {
    color: whitesmoke;
    background: #777;
}

.pbuttons:visited {
    color: lawngreen;
}

.projects {
    color: whitesmoke;
    height: inherit;
    width: inherit;
}

.projects div {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #222;
    
}

#projectsId {
    display: none;
}
