

/* ==========================================================================
   Bekor's custom styles for index pages
   ========================================================================== */

/* 
***************        Header menu style        *************** 
*/
.headermenu {
    font-family: "Arial", Georgia;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
}

.headermenu li  {
    padding: 10px;
}

.headermenu a {
    text-decoration: none;
    padding: 10px;
}

.logo {
    padding: 0px;
    max-width: 100px;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand>a>img {
  height: auto;
  width: auto;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
    color: whitesmoke;
}

nav ul li {
    display:  block;
    float: left;
}

nav ul ul {
    display: none;
}

nav ul ul li {
    display: block;
    float: none;
}

.dropdown-menu{
    position: absolute;
    background-color: #222;
    right: 0px;
    max-width: 100px;
}

.dropdown-menu li a{
    font-family: "Arial", Georgia;
    font-size: 16px;
    align-content: center;
    color: whitesmoke;
}

.languages {
    float: right;
    padding: 50px;
}

/*
***************        Welcome div style        ***************
*/

.welcomed {
    margin-bottom: 0;
    background: #222;
    color: whitesmoke;
    text-align: center;
}

.welcomed p {
    padding-top: 20px;
}

/*
***************        Projects style        ***************
*/

.phead{
    padding: 30px 0 30px 0;
    border-style: ridge;
    border-top: thick #ff0000;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
}

.pfont{
    font-family: "Arial", Georgia;
    font-size: 40px;
}

.pbody {
    color: #31708f;
}

.pbuttons:visited {
    color: lawngreen;
}

.projects {
    color: whitesmoke;
    height: inherit;
    width: inherit;
}

.projects div {
    padding-top: 30px;
    padding-bottom: 30px;
    background: #222;
    
}

.pdescript a {
    font-size: 16px; 
}

.pdescript p {
    font-size: 14px;
    color: gray;
}

.pdescript:hover {
    background-color: #222;
    color: whitesmoke;
}

.aboutbackg{
    margin-top: 0px;
    background-position: center center;
    background: #adadad;
    background-image: url("../img/about_background.gif");
    background-size: cover;
    background-repeat: no-repeat;
    display: compact;
}

.transbox {
    margin: 20px;
    padding: 10px;
    background: whitesmoke;
    opacity: 0.8;
    border-radius: 25px;
    filter: alpha(opacity=70);
    max-height: 700px;
}

.transbox div{
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.transbox div p{
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
}